{% extends 'base.html' %}

{% block body %}
<div class="container py-5">
    <div class="text-center">
        <img src="https://pngimg.com/d/mercedes_PNG1895.png" alt="Mercedes" class="img-fluid mb-10" style="max-width: 100%; height: auto; margin-bottom: 6rem;">
    </div>
    <div class="text-center" style="margin-bottom: 4cm;">
        <p class="fs-5">
            Ваш автоподбор 42 — это команда профессионалов, специализирующаяся на подборе автомобилей по индивидуальным требованиям клиентов. Мы предоставляем полный спектр услуг, связанных с поиском, проверкой и покупкой автомобилей, чтобы каждый наш клиент мог быть уверен в качестве и надежности своего будущего авто.
        </p>
    </div>
</div>
{% endblock %}
