{% extends 'base.html' %}

{% block body %}
<div class="container py-5 text-center">
    <!-- Картинка сверху по центру -->
    <img src="https://pngimg.com/d/kamaz_PNG15.png" alt="Камаз" class="img-fluid mb-4">

    <!-- Текст по центру -->
    <p class="mb-5" style="font-size: 1.2rem;">
        Подбор коммерческого транспорта: Мы подбираем транспортные средства с учетом специфики вашего бизнеса — будь то перевозка грузов, пассажирские перевозки или специализированные задачи.
    </p>

    <!-- Кнопка Заказать услугу с отступом -->
    <a href="https://t.me/artemg6000" class="btn btn-dark" style="margin-top: 3rem;">Заказать услугу</a>
</div>
{% endblock %}
