{% extends 'base.html' %}

{% block body %}
<div class="container py-5">
    <!-- Заголовок по центру -->
    <h1 class="text-center">Контактная информация:</h1>
    <div class="mt-4">
        <!-- Контактные данные -->
        <p><strong>Телефон:</strong> 8-983-404-33-01</p>
        <p><strong>Email:</strong> <a href="mailto:vashpodbor42@mail.ru">vashpodbor42@mail.ru</a></p>
        <p><strong>Адрес:</strong> Кемерово, Советский пр., 63</p>
        <p><strong>График работы:</strong> 9:00 - 21:00</p>
    </div>
</div>
{% endblock %}