{% extends 'base.html' %}

{% block body %}
<div class="container py-5">
    <!-- Заголовок и текст по центру -->
    <h1>Привет! Хочешь поработать в нашей компании?</h1>
    <h2>Красава! Мы ждём тебя <span>🙂</span></h2>
    <p>Однако, ты должен понимать, что это большая ответственность и что легко не будет. Необходимо постоянно учиться, повышать свои навыки и быть открытым новому!</p>
    <p>Если тебя это все не пугает, то нажимай на «Хочу работать в 42», заполняй форму и жди звонка!</p>
    <p>Любой длинный путь начинается с маленького шага. И у тебя есть возможность сделать этот шаг прямо сейчас <span>😉</span></p>
    <p>Любви, здоровья!</p>

    <!-- Кнопка -->
    <div class="text-center mt-4">
        <a href="https://forms.gle/qbhZJQstDAVuqrug8" class="btn btn-black">Хочу работать в 42</a>
    </div>
</div>

<style>
    .btn-black {
        background-color: black;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
    .btn-black:hover {
        background-color: #333;
        color: #fff;
    }
    .container {
        max-width: 800px;
        margin: auto;
    }
    h1, h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .mt-4 {
        margin-top: 40px;
    }
</style>
{% endblock %}